<div class="content-container">
  <div class="home-background">
  </div>
  <div class="home-content">
    <div class="sign-up-form">
      <div class="sign-up-fields">
        <h2 class='form-h2'>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%= f.email_field :email, placeholder: 'Email', autofocus: true, required: true %>

            <%= f.password_field :password, placeholder: "Password (#{@minimum_password_length} character min.)", autocomplete: "off", required: true %>

            <%= f.password_field :password_confirmation, placeholder: 'Re-enter Password', autocomplete: "off", required: true %>

            <%= f.select :role, ['adjudicator', 'defendant'], include_blank: false, required: true %>

            <%= f.submit "Sign up", class: "btn btn-primary" %>
        <% end %>

        <%= link_to "or log in", new_session_path(resource_name), class: "toggle-entry"%>
      </div>
    </div>
  </div>
</div>